<h4>Détail du problème</h4>
<form id="form" action="{{path('admin_ajax_liaisonstreeview_nodedetail_ProblemeUpdate', {'id': probleme.id})}}" method="post" {{ form_enctype(form) }}>
    {#{{ form_widget(form) }}#}
            
    {{form_errors(form)}}
    
    <div>
        {{form_label(form.libelle, 'Titre')}}
         <div>
            {{form_widget(form.libelle, {'attr': {'style': 'width: 100%'}})}}
         </div>
    </div>        
        
    <hr>
    
    <div>
        <h5>Options</h5>
        {{form_label(form.affiche, 'Afficher ?')}}
        {{form_widget(form.affiche)}}
    </div>    
    
    {{form_rest(form)}}
    
    <hr> 
    
    <button id="bouton" class="button green" type=submit style='width:100%'>Ok</button>
    
</form>

<script>
    $('#form').submit(function(){
        form_serialized=$(this).serialize();
        
        $.ajax({
		type: "POST",
 		data: form_serialized,
 		url: $(this).attr("action"),
 		success: function(retour){
                            updateTreeview({{probleme.id}},$('#solver_solverbundle_problemestype_libelle').val(), $('#solver_solverbundle_problemestype_affiche').attr('checked'));
                        },
                error: function (retour){
                        alert ('Une erreur s\'est produite.');
                    },                   
 	});
        
        return false;
    });
    
    function updateTreeview(id, libelle, checkValue)
    {  
        if (checkValue=="checked") {            
            $('#container_treeview').jstree("check_node",'#p'+id,libelle);
        } else {            
            $('#container_treeview').jstree("uncheck_node",'#p'+id,libelle);
        }        
        $('#container_treeview').jstree("rename_node",'#p'+id,libelle);                
    };    
</script>